<mat-card>
  <mat-card-header>
    <!-- <mat-card-title>
      Contacto
    </mat-card-title>
    <mat-card-subtitle>
      Contáctanos
    </mat-card-subtitle> -->
  </mat-card-header>
  <div>
    <img style="max-width: 100%; height: 300px;" src="https://images.pexels.com/photos/331990/pexels-photo-331990.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
  </div>
  <mat-card-content>
    <p><strong>Teléfono: </strong>953942501</p>
    <p><strong>Correo: </strong>fernandocallasaca@outlook.com</p>
    <p><strong>Dirección: </strong>Miraflores Tica Tica B-10</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="warn" routerLink="/products">Productos</a>
  </mat-card-actions>
</mat-card>
