<!-- Cuando hagamos un restapi demora y algunos componentes quieren escribir y no existe -->
<!-- Por eso hasta esperar hacemos un ngIf -->
<mat-card *ngIf="(product$ | async) as product">
  <mat-card-header>
    <mat-card-title>
      {{product.title | uppercase}}
    </mat-card-title>
  </mat-card-header>
  <div class="image">
    <img style="max-width: 50%;" [src]="product.image" alt="">
  </div>
  <mat-card-content>
    <div>
      <p><strong>Precio: </strong>{{product.price | currency: ' nuevos soles'}}</p>
      <p><strong>Descripción: </strong> {{product.description}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="addCart(product)">Agregar al carrito</button>
    <!-- <button (click)="createProduct()">Crear</button>
    <button (click)="updateProduct()">Actualizar</button>
    <button (click)="deleteProduct()">Eliminar</button> -->
  </mat-card-actions>
</mat-card>



