<!-- Cuando hagamos un restapi demora y algunos componentes quieren escribir y no existe -->
<!-- Por eso hasta esperar hacemos un ngIf -->
<mat-card *ngIf="product">
  <mat-card-header>
    <mat-card-title>
      {{product.title}}
    </mat-card-title>
  </mat-card-header>
  <div>
    <img style="max-width: 100%;" [src]="product.image" alt="">
  </div>
  <mat-card-content>
    <div>
      <ul>
        <li>Precio: {{product.price | currency: ' nuevos soles'}}</li>
      </ul>
      <p>{{product.description}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="createProduct()">Crear</button>
    <button (click)="updateProduct()">Actualizar</button>
    <button (click)="deleteProduct()">Eliminar</button>
  </mat-card-actions>
</mat-card>



