<!-- Aquí agregamos un ngModel linkeado con una variable así los cambios se hacen en tiempo real -->
<input type="text" [(ngModel)]="title"> <br>
{{ title }} <br><br>

<!-- *ngIf -->
<div *ngIf="title === 'Fernando'">
  Bienvenido Fernando Callasaca Acuña
</div>

<!-- Agregamos un item -->
<button (click)="addItem(title)">Add item</button>

<!-- *ngFor -> Iteramos un array -->
<!-- también puedes sacar su id con "index as i" -->
<ul>
  <li *ngIf="items.length === 0">La lista está vacía</li>
  <li *ngFor="let name of items; let i = index">
    {{ (i + 1) + '.- ' + name }}
    <button (click)="removeItem(i)">Remove</button>
  </li>
</ul>

