<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row around-xs footer-row">
      <div class="row middle-xs">
        <mat-icon>store</mat-icon>
        <span>Miraflore Tica Tica B-10</span>
      </div>
      <div class=" row middle-xs">
        <mat-icon>facebook</mat-icon>
        <span>fernandocallasaca</span>
      </div>
      <div class="row middle-xs">
        <mat-icon>call</mat-icon>
        <span>953942501</span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
