<!-- Aquí debería estar el header, luego el banner y posterior a ello el footer -->
<!-- Pero tuvimos que crear otro componente "Layout" para ahí colocar el header y el footer -->
<!-- Y en el centro colocar el router-outlet en ese caso solo ponemos aquí el banner -->
<!-- Con esto si cambiamos el header o footer no tendríamos que ir archivo por archivo -->
<!-- Es más flexible nuestro código -->
<app-header></app-header>
<!-- Para estar ahí los children en el app-routing.module.ts -->
<div class="container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
